{% extends 'base.html.twig' %}

{% block title %}OrgaRun - Ajout Bénévole{% endblock %}

{% block header %}
    <div id="header" class="container jumbotron">
        <h1>Ajout d'un bénévole</h1>
    </div>
{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('danger') %}
        <div class="container alert alert-danger">{{ message }}</div>
    {% endfor %}

    <div class="container card">
        <a href="{{ path('benevoles') }}" class="btn btn-sm btn-outline-danger text-center">
            <i class="oi oi-arrow-circle-left" aria-hidden="true"></i>
            <span>Retour à la liste</span>
        </a>
    </div>
    <br>

    <div class="container card">
        <h5 class="card-title">
            Veuillez rentrer les renseignements suivants :
        </h5>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.numeroPermisConduire) }}
        {{ form_row(form.save) }}
        {{ form_end(form) }}
        <a href="{{ path('benevoles') }}" class="btn btn-sm btn-outline-danger text-center">
            <i class="oi oi-arrow-circle-left" aria-hidden="true"></i>
            <span>Retour à la liste</span>
        </a>
    </div>


{% endblock %}
