{% extends 'base.html.twig' %}

{% block title %}OrgaRun - Edition Bénévole{% endblock %}

{% block header %}
    <div id="header" class="container jumbotron">
        <h1>Modification des informations de {{ benevole.prenom }} {{ benevole.nom }}</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="container card">
        <h5 class="card-title">
            Veuillez rentrer les renseignements suivants :
        </h5>
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.prenom) }}
        {{ form_row(form.mail) }}
        {{ form_row(form.telephone) }}
        {{ form_row(form.dateNaissance) }}
        {{ form_row(form.numeroPermisConduire) }}
        {{ form_row(form.affectation) }}
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Chef de poste -> cliquez ici
        </button>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                {{ form_row(form.postesEnCharge) }}
            </div>
        </div>
        <p>
        {{ form_row(form.save) }}
        </p>
        {{ form_end(form) }}
    </div>

{% endblock %}
