{% extends 'base.html.twig' %}

{% block title %}OrgaRun - Bénévole{% endblock %}

{% block header %}
    <div id="header" class="container jumbotron">
        <h1>Liste des bénévoles</h1>
    </div>
{% endblock %}

{% block body %}

    <div class="card container bg-info">
        <br><p class="text-light">Le fichier contient {{ benevoles|length }} bénévole(s)</p>
    </div>
    <br>

    <div class="container">
        <table class="table table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Tel</th>
                    <th>N° PC</th>
                </tr>
            </thead>
            {% for benevole in benevoles %}
                <tr>
                    <td>{{ benevole.nom }}</td>
                    <td>{{ benevole.prenom }}</td>
                    <td><a href="mailto:{{ benevole.mail }}">{{ benevole.mail }}</a></td>
                    <td>{{ benevole.telephone }}</td>
                    <td>{{ benevole.numeroPermisConduire }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>




{% endblock %}
