{% extends 'base.html.twig' %}

{% block title %}OrgaRun - Poste{% endblock %}

{% block header %}
    <div id="header" class="container jumbotron">
        <h1>Détails poste "{{ poste.nom }}"</h1>
    </div>
{% endblock %}

{% block body %}

    {% for message in app.session.flashbag.get('alert') %}
        <div class="container alert alert-danger">{{ message }}</div>
    {% endfor %}

    {% for message in app.session.flashbag.get('notice') %}
        <div class="container alert alert-success">{{ message }}</div>
    {% endfor %}

    <ul class=" container list-group">
        <li class="list-group-item">Poste : {{ poste.nom }}</li>
        <li class="list-group-item">Description : {{ poste.description }}</li>
        {% if poste.remarque %}
        <li class="list-group-item">Remarque : {{ poste.remarque }}</li>
        {% endif %}
        {% if poste.chefDePoste %}
            <li class="list-group-item font-italic">Chef de poste : {% for chef in poste.chefDePoste %}<a href="{{ path('viewBenevole', {'id' : chef.id}) }}">{{ chef.prenom }} {{ chef.nom }}</a>{% endfor %}</li>
        {% endif %}
    </ul>

    <br>

    {% if poste.nbBenevoles %}
        <div class="container card text-light {% if poste.membres|length ==0 %}bg-danger{% elseif poste.membres|length == poste.nbBenevoles %}bg-success{% else %}bg-warning{% endif %}">
            <h5 class="card-title">Bénévoles</h5>
            <h6 class="card-subtitle mb-2">Requis : {{ poste.nbBenevoles }}   —   Affectés : {{ poste.membres|length }}</span></h6>
            <div class="card-body">
                <div class="card-text row">

                        {% for membre in poste.membres %}
                            {{ membre.prenom }} {{ membre.nom|upper }}<br>
                        {% endfor %}

                </div>
            </div>
        </div>
    {% endif %}

    <br>
    <div class="container">
        <a href="{{ path('postes') }}" class="btn btn-sm btn-outline-secondary text-center">
            <i class="fa fa-angle-double-left align-middle" aria-hidden="true"></i>
            <span class="align-middle">liste des postes</span>
        </a>
        <a href="{{ path('editPoste', {'id': poste.id}) }}" class="btn btn-sm btn-outline-secondary text-center">
            <i class="fa fa-pencil-square-o align-middle" aria-hidden="true"></i>
            <span class="align-middle">Modifier le poste</span>
        </a>
        <a href="{{ path('deleteBenevole', {'id': poste.id}) }}" class="btn btn-sm btn-outline-danger text-center" onclick="return confirm('ATTENTION : êtes vous certain de vouloir supprimer ce bénévole ? Cette action ne peut être annulée.');">
            <i class="fa fa-trash-o align-middle" aria-hidden="true"></i>
            <span class="align-middle">Supprimer le bénévole</span>
        </a>
    </div>

{% endblock %}


